<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteDespegar">
<parameter name="Navegador" value="EDGE"></parameter>
  <test thread-count="5" name="Test">
  	<groups>
  		<run>
  			<include name="grupo1"/>
  			<exclude name="grupo2"></exclude>			
  		</run>
  	</groups>
    <classes>
      <class name="com.trabajopractico1.testing.TrabajoPractico1.DespegarTest2"/>
    </classes>
  </test> <!-- DespegarTest -->
</suite> <!-- SuiteDespegar -->
